.Home-logo {
    height: 10vh;
    pointer-events: none;
    margin-bottom: 50px;
  }
  
  .Home-main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .Home-main h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #3440B6;
  
  }
  
  .Home-main h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #E75204;
    margin-bottom: 90px;
  }
  
  .Button {
    background: #3440B6;
    border-radius: 30px;
    border: none;
    margin-bottom: 30px;
    padding: 5px 0;
    width: 180px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-decoration: none;
  }
  
  .Button-disabled{
    margin-top: 50px;
    opacity: 0.6;
  }